$bg-color: #171619;
$primary: #C7C548;
$secondary: #2E4094;

* {
	margin: 0;
	left: 0;
	text-decoration: none;
}
body {
	background: $bg-color;
	color: #fff;
}
.mid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.card {
	cursor: pointer;
	width: 340px;
	height: 480px;
}
.front,
.back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform 600ms linear;
}
.front img{
	height: 100%;
}
.front {
	background: $secondary;
	transform: perspective(600px) rotateY(0deg);
}
.back {
	background: $secondary;
	transform: perspective(600px) rotateY(180deg);
}
.backCont {
	color: $primary;
	text-align: center;
	width: 100%;
}
.icon {
	margin: 20px 0;
}
.icon a {

}
.card:hover > .front {
	transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
	transform: perspective(600px) rotateY(0deg);
}