* {
  margin: 0;
  left: 0;
  text-decoration: none; }

body {
  background: #171619;
  color: #fff; }

.r-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.r-card {
  cursor: pointer;
  width: 340px;
  height: 480px; }

.r-front,
.r-back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 600ms linear; }

.r-front img {
  height: 100%; }

.r-front {
  background: #2E4094;
  transform: perspective(600px) rotateY(0deg); }

.r-back {
  background: #2E4094;
  transform: perspective(600px) rotateY(180deg); }

.r-backCont {
  color: #C7C548;
  text-align: center;
  width: 100%; }

.icon {
  margin: 20px 0; }

.r-card:hover > .r-front {
  transform: perspective(600px) rotateY(-180deg); }

.r-card:hover > .r-back {
  transform: perspective(600px) rotateY(0deg); }
